.form {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  background-color: white;
  padding: 20px 10px;
}

.signin-button {
  padding: 10px 20px;
  text-decoration: none;
  width: 30%;
  align-self: center;
  color: #93c572;
  background-color: white;
  border: 1px solid #93c572;
  margin: 20px 0px;
  border-radius: 30px;
  transition-duration: 0.7s;
  cursor: pointer;
  
}

.signin-button:hover {
  background-color: #93c572;
  color: white;
}

.loginimage {
  width: 450px;
}

.signin-form {
  display: flex;
  flex-direction: column;
}

.signin-form input {
  width: 80%;
  align-self: center;
  padding: 5px;
  padding-top: 10px;
  margin: 5px;
  /* border-radius: 5px; */
  outline: none;
  border:none;
  border-bottom: 1px solid #eee;
}
.signin-form input:focus {
  width: 80%;
  align-self: center;
  padding: 5px;
  padding-top: 10px;
  margin: 5px;
  /* border-radius: 5px; */
  outline: none;
  border:none;
  border-bottom: 1px solid #93c572;
}
