.onetip {
    flex-direction: row;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    gap:20%;
    padding: 10%;
    margin: 30px;
}
.oneTips img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
}
.contentTip {
    flex-direction: column;
    display: flex;
    justify-content:flex-start;
    align-items:flex-start
}
/* .all_Btn_Tips {
    flex-direction: row;
    gap: 20%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
} */
.btn-tips {
    border-radius: 5px;
    width: 200px;
    height: 40px;
    
    border:  2px solid #73d905;
    color: black;
   
}

.btn-tips:hover{
    background-color: #73d905;
}