.user-card{
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: white;
}

.profession{
    width: 50%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #73d905;
    border-radius: 8px;
    background-color: #73d905;
    color: white;
}
.user-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 60%;
    height: 50%;
}
.image-frame-one-user{
    width: 50%;
    height: 40%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mytable{
  width: 100%;
}

.oneTra{
  border-bottom: 2px solid #eee;
}
.user-button{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black ;
    border-radius: 10px;
    cursor: pointer;
}
.user-icons{
    width: 1.3rem;
    height: 1.3rem;
}
.user-button:hover{
    background-color: black ;
    color: white;
}

#unlock{
  color: red;
  font-size: 30px;
}