.oneUserContainer {
  width: 80%;
  margin: 0px auto;
  height: 100vh;
}
.photoSection img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.photoSection {
  width: 30%;
  border-right  : 10px solid #eee;
}

.userInfos{
  display: flex;
  border: 10px solid #eee;
  padding: 20px;
}
.detailsSection{
width: 70%;
}
.justInfo{
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content:center;
  padding: 50px;
  border-bottom:5px solid #eee; ;
}
.info{
  margin-top: 10px;
}
.titleInfo{
  font-weight: 700;
  font-size: 20px;
  margin-right: 5px;
}

.theInfo{
  font-weight: 500  ;
  font-size: 20px;
  margin-right: 5px;
}

.oneDtailinfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin: 10px 5px;
}

.moreInfo{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.lock{
  align-self:flex-end;
  font-size: 20px;
  color: #06b795;
}

.transaction-info img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.transaction-info span{
  font-weight: 500;
}

.transaction-info{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100px;
  gap: 10px;
}

.mytable{
  width: 100%;
}

.oneTra{
  border-bottom: 2px solid #eee;
}

.arrows{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#lock{
  color: #06b795;
  font-size: 30px;
}

#unlock{
  color: red;
  font-size: 30px;
}