.main-section{
    /* background-color: red;     */
    margin-left: 4%;
    width: 96%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.overview-top-nav{
    /* background-color: green ; */
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40rem;
}
.search-section{
    /* background-color: green ; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 100%;
    width: 30%;
}
.search-section-icons{
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}
.search-input{
    /* background-color: aqua; */
    width: 60%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.3rem;
    border : 2px solid rgb(255, 255, 255);
    border-radius: 10px;
}
.search-input input {
    color: rgb(82, 82, 82);
    width: 100%;
    height: 100%;
    background-color: transparent ;
    outline: none;
    border: none;
    font-size: 16px;
}
.table-section{
    width: 90%;
    
}
.average{
    background-color: #73d905;
    width: 100%;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: white;
    font-size: 16px;
}
.details{
    cursor: pointer;
}
.bar-charts{
    border: 1px solid gray;
    border-radius: 10px;
    width: 40%;
    background-color: white;
    padding: 1rem;
}

.charts-container{
    display: flex;
    width: 96%;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}


.bar{
    z-index: -1;
}
.progress-charts{
    border: 1px solid gray;
    border-radius: 10px;
    width: 40%;
    background-color: white;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.one-progress{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}
.progress-bars{
    width: 100%;
}