.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height : 100vh;
    background-image: url("https://static.vecteezy.com/system/resources/previews/024/941/918/non_2x/blue-plastic-bottle-recycling-pollution-multi-colored-garbage-dump-background-generated-by-ai-free-photo.jpg");
}